@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&family=Smooch+Sans:wght@400;500;600;700;800&display=swap');
/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Smooch Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
    /* background-color: #ccc; */
}
.header-container {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-bottom: 4px solid #f09433;
}
    .logo-container {
        /* background-color: aqua; */
        width: 25%;
        text-align: end;
        padding: 10px;
    }
    .navbar-container {
        /* background-color: red; */
        width: 60%;
        text-align: center;
        text-decoration: none;
    }
        .navbar-container a {
            text-decoration: none;
            margin: 0 30px;
            font-weight: 700;
            font-size: 20px;
            color: #ccc;
        }
        .navbar-container a:hover {
            color: #f09433;
        }
    .social-container {
        /* background-color: greenyellow; */
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
        .social-container a {
            margin: 0 10px;
        }
            .iconWhatsapp {
                font-size: 20px;
                color: green;
            }
            .iconTiktok {
                font-size: 15px;
                background-color: #000000;
                color: #ffff;
            }
            .iconInstagram {
                font-size: 15px;
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            }
.main-container {
    /* background-color: #dc2743; */
    width: 100%;
    text-align: center;
    margin: auto;
}
    .section-banner-container {
        height: 75vh;
        background-color: #f09433;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); */
    }
        .section-banner-container h2 {
            font-size: 35px;
            color: #000000;
        }
        .section-banner-container span {
            font-size: 20px;
            font-weight: 500;
            color: #000000;
            margin: 15px;
        }
        .btn {
            background-color: #333;
            color: white;
            padding: 8px 15px;
            border: none;
            cursor: pointer;
        }
    .section-product-container {
        height: 100vh;
        padding: 40px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .section-product-container h2 {
            width: 30%;
        }
        .section-product-container p {
            width: 30%;
            margin: 25px;
        }
        .product-list {
            height: 35vh;
            display: flex;
            justify-content: center;
        }
            .product {
                height: 50vh;
                background-color: #f0f0f0;
                padding: 20px;
                margin: 10px;
                width: 45vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
            }
                .product p, h3 {
                    width: 100%;
                }
    .section-about-us-container {
        height: 60vh;
        padding: 50px 20px;
        text-align: center;
        background-color: #e0e0e0;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .about-us-text {
            width: 30%;
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-right: 20px;
        }
            .about-us-text p {
                width: 90%;
                margin: 10px 0;
            }
        .about-us-image {
            width: 40%;
            height: auto;
            margin-left: 20px;
        }
            .about-us-image img {
                width: 80vh;
                height: 40vh;
                border-radius: 10px;
            }
    .section-reason-container {
        height: 70vh;
        padding: 40px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: #e0e0e0; */
    }
        .section-reason-container h2 {
            margin: 10px auto;
        }
        .reason-list {
            height: 35vh;
            display: flex;
            justify-content: center;
        }
            .reason {
                height: 35vh;
                padding: 20px;
                margin: 10px;
                width: 45vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
            }
                .number {
                    width: 10%;
                    border: 1.5px solid #000;
                    border-radius: 50%;
                    font-weight: bolder;
                    font-size: 20px;
                }
                .reason h3 {
                    width: 100%;
                    margin: 20px 0;
                }